<div class="conteiner-fluid">
    <div class="col-12 colorDeFondo textoCentrado">
        <h1>{{titulo}}</h1>
    </div>
    <hr>
    <div class="row colorDeFondo">
        <div class="col-4 colorDeFondo centrar-item" *ngFor="let p of productos">
            <div class="card" style="width: 18rem;">
                <img (click)="irDetalle(p)" class="img-rounded puntero" src="{{p.foto}}" alt="140x140">
    
                <div class="card-body">
                    <h5 class="card-title">{{p.descripcion}}</h5>
                    <span>Precio: $ {{p.precio}}</span>                    
                    <div class="colores">
                        Colores Disponibles:
                        <div *ngFor=" let color of p.colores" style="cursor: pointer;" class="Colores">
                            <div *ngIf="color=='negro'" class=" cajaColores colorNegro" (click)="ponerColor( p, 'negro')"></div>
                            <div *ngIf="color=='blanc'" class=" cajaColores colorBlanco" (click)="ponerColor( p, 'blanc')"></div>
                            <div *ngIf="color=='griss'" class=" cajaColores colorGriss" (click)="ponerColor( p, 'griss')"></div>
                            <div *ngIf="color=='celes'" class=" cajaColores colorCeles" (click)="ponerColor( p, 'celes')"></div>
                            <div *ngIf="color=='beige'" class=" cajaColores colorBeige" (click)="ponerColor( p, 'beige')"></div>
                
                        </div>
                    </div>
                    <button (click)="agregarCarrito(p)" type="button" class="btn btn-outline-secondary">Agregar al Carrito</button>
                </div>
            </div>
        </div>
    </div>
</div>
