.miClase{
    height: 200px;
    width: 200px;
}
.cajaColores{
    width: 20px;
    height: 20px;
    margin: 3px;
    border: solid 2px black;
    &:hover{
        border: solid 4px cadetblue;
    }
}
.colorNegro{
    background-color: black;
}

.colorBlanco{
    background-color: white;
}

.colorGriss{
    background-color: #afafb1;
}

.colorCeles{
    background-color: #516d85;
}

.colorBeige{
    background-color: #cfb092;
}

.Colores{
    display: flex;
    flex-direction: row;
}
.cardPad{
    padding: 10px;
}
.centrar-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



