<div class="row">
  <div class="col-12" class="div">
    <h1>{{producto.descripcion}}</h1>
  </div>
  <div class="col-6">
    <img class="img-rounded" src="{{producto.foto}}" alt="Card image cap">
  </div>
  <div class="col-6">
    <div class="row">
      <div>
        <h5>Descripción: </h5> {{producto.detalle}}
      </div>
      <div class="col-6">
        Talle:
        <select style="cursor: pointer;">
          <option>S</option>
          <option>M</option>
          <option>L</option>
          <option>XL</option>
        </select>
      </div>
      <div class="col-6">
        Precio $ {{producto.precio}}
      </div>
      <div class="col-6">
        Colores Disponibles:
        <div style="cursor: pointer;" class="Colores">
          <div class="cajaColores colorNegro" (click)="ponerColor(producto, 'n')"></div>
          <div class="cajaColores colorBlanco" (click)="ponerColor(producto, 'blanc')"></div>
        </div>
      </div>
      <div class="col-12">
        <button (click)="agregarCarrito(producto)" type="button" class="btn btn-outline-secondary ">Agregar al Carrito</button>
      </div>
    </div>
  </div>
</div>