<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                  Featured
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{producto.descripcion}}</h5>
                  <p class="card-text">xxxxxxxxxxxxxxxx</p>
                  <p class="card-text">Precio: $ {{producto.precio}}</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <button>Comprar</button>
        </div>
    </div>
</div>