 <div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-header">
                  <h1>producto.descripcion</h1>
                </div>
                <div class="card-body">
                  <img class="card-img-top miClase" src="foto" alt="Card image cap">
                  <h5 class="card-title">xxxx</h5>
                  <p class="card-text">Precio: $ producto.precio</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <button>Comprar</button>
        </div>
    </div>
</div> 
