<div>
    <h1 style="text-align: center;">CARRITO DE COMPRAS</h1>
</div>
<div class="row">
  <div class="col-6">
    <button (click)="vaciarCarrito()" >VACIAR CARRITO</button>
  </div>
  <div class="col-6 der">
    <button > FINALIZAR COMPRA</button>
  </div>
</div>
<head>
    <style>
    table, th, td {
      border: 2px solid black;
      border-collapse: unset;
    }
    th, td {
      padding: 10px;
    }
    </style>
    </head>  
    <p-table [value]="productoCarrito" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
              Productos              
          </div>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
              <th>nombre</th>
              <th>imagen</th>
              <th>precio</th>
              <th>cantidad</th>
              <th>talle</th>
              <th>quitar</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-productoCarrito let-rowIndex="rowIndex">
          <tr>
              <td>{{productoCarrito.descripcion}}</td>
              <td><img class="img-rounded" src="{{productoCarrito.foto}}" alt="Card image cap"></td>
              <td>${{productoCarrito.precio}}</td>
              <td>Cantidad: <input [(ngModel)]='productoCarrito.cant' type="number" min="1" max="50" required style="width: 50px;"></td>
              <td>Talle:
                <select name="" id="" style="cursor: pointer;">
                  <option value="">S</option>
                  <option value="">M</option>
                  <option value="">L</option>
                  <option value="">XL</option>
                </select></td>
                <td><button (click)="quitarProd(rowIndex)">X</button></td>
          </tr>
      </ng-template>
      <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between">
              En total hay  {{productoCarrito ? productoCarrito.length : 0 }} productos.
          </div>
      </ng-template>
  </p-table>
  