.Colores{
    display: flex;
    flex-direction: row;
}
.colorNegro{
    background-color: black;
}

.colorBlanco{
    background-color: white;
}

.cajaColores{
    width: 20px;
    height: 20px;
    margin: 3px;
    border: solid 2px black;
    &:hover{
        border: solid 4px cadetblue;
    }
}

.div{
    text-align: center;
    border-style: double;
    border-color: black;
    background-color: cadetblue;
    padding: 1%;    
}

.div2{
    text-align: center;
    border-color: black;
    background-color: cadetblue;
    padding: 1%; 

}
.der{
    text-align: right;
}