<div>
    <h1 style="text-align: center;">CARRITO DE COMPRAS</h1>
</div>
<div class="row">
  <div class="col-6">
    <button (click)="vaciarCarrito()" >VACIAR CARRITO</button>
  </div>
  <div class="col-6 der">
    <button > FINALIZAR COMPRA</button>
  </div>
</div>
<head>
    <style>
    table, th, td {
      border: 2px solid black;
      border-collapse: unset;
    }
    th, td {
      padding: 10px;
    }
    </style>
    </head>
  

<table style="width: 100%;">
  <thead>
    <tr>
      <th>producto</th>
      <th>imagen</th>
      <th>talle</th>
      <th>cantidad</th>
      <th>precio</th>
      <th>quitar</th>
    </tr>
  </thead>
  <tbody *ngFor=" let a of productoCarrito; let i=index">
    <tr>
      <td> {{a.descripcion}}</td>
      <td><img class="img-rounded" src="{{a.foto}}" alt="Card image cap"></td>
      <td>Talle:
        <select name="" id="" style="cursor: pointer;">
          <option value="">S</option>
          <option value="">M</option>
          <option value="">L</option>
          <option value="">XL</option>
        </select></td>
      <td>Cantidad: <input [(ngModel)]='a.cant' type="number" min="1" max="50" required style="width: 50px;"></td>
      <td>Precio:  ${{a.precio}}</td>
      <th><button (click)="quitarProd(i)" >X</button></th>
    </tr>
  </tbody>
</table>