<div>
    <h1 style="text-align: center;">CARRITO DE COMPRAS</h1>
</div>
<div class="row">
  <div class="col-6">
    <button (click)="vaciarCarrito()" >VACIAR CARRITO</button>
  </div>
  <div class="col-6 der">
    <button > FINALIZAR COMPRA</button>
  </div>
</div>
<head>
    <style>
    table, th, td {
      border: 2px solid black;
      border-collapse: unset;
    }
    th, td {
      padding: 10px;
    }
    </style>
    </head>
  

<table style="width: 100%;" class="colorPrincipal centrado encuadrar" *ngFor=" let a of productoCarrito" >
    <thead class="colorSecundario centrado">
        <tr>
        <th > {{a.descripcion}}  </th>                  
        </tr>
    </thead>
    <tbody>
        <tr class="letra" >
            <td>imagen</td>
            <td>Talle:
              <select name="" id="" style="cursor: pointer;">
                <option value="">S</option>
                <option value="">M</option>
                <option value="">L</option>
                <option value="">XL</option>
              </select></td>
            <td>Precio:  $precio</td>
            <td> Cantidad: ></td>
            <td><button > X </button></td>
           
        </tr>
    </tbody>
</table>
