<div class="container-fluid">
  <div class="row">
    <div class="col-12 colorDeFondoyTexto">
      <img src="assets/logoFondo.png" alt="140 x 140">
    </div>
    <div class="col-12 nav-stickytop">
      <app-menu></app-menu>
    </div>
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- <div class="colorDeFondoyTexto">
  <img src="assets/logoFondo.png" alt="140 x 140">
</div>
<div class="derecha">
  <button [routerLink]="'carrito'" >Carrito</button>
  <button>Registrarse</button>
  <button>Login</button>
</div>
<div>
  <app-menu></app-menu>
</div>

  <router-outlet></router-outlet> -->

