<nav>
    <button class="colorBoton"> Inicio </button>
    <button class="colorBoton"> Hombre </button>
    <button class="colorBoton"> Mujer </button>
    <button class="colorBoton"> Niño </button>
    <button class="colorBoton"> ¿Quienes somos? </button>
  </nav>

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mujer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hombre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Niño</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">¿Quienes somos?</a>
      </li>
    </ul>
  </nav>
  