

  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" (click)="navegar('')">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" (click)="navegar('carrito')">carrito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mujer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hombre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Niño</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">¿Quienes somos?</a>
      </li>
    </ul>
  </nav>
  