/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.puntero{
    cursor: pointer;
}

.navbar{
    position: sticky;
}

.colorDeFondo{
    background-color: rgb(234, 234, 234)
}

.textoCentrado{
    text-align: center;
}
